@import '../../../styles/settings.scss';

.component {
  width: 46vh;
  height: 500px;
  padding: 100px 0 0 30px;
  margin: 0 auto;
  background-image: url('../../../images/stickyNote.png');
  background-repeat: no-repeat;
  background-size: cover;
}
