@import '../../../styles/settings.scss';

.component {
  margin-bottom: 30px;

  .appMenu {

    max-width: 80vw;
    margin: 40px 10vw;
    background: #45315a;
    border-radius: 30px;


    .toolbar {
      padding: 0;

    .title {


      text-align: center;

      padding-left: 35px;
      text-shadow: 3px 3px 12px rgb(171, 179, 167);

    a {
      text-decoration: none;
      color: white;
      display: inline;
    }
  }
}

  .buttonLogin {
    margin-left: 35vw;
    border-radius:  10px  35px 10px 35px ;
  }
}
}
// .root {
// }
