@import '../../../styles/settings.scss';

  .appMenu {
    width: 70vw;
    margin: 40px 15vw;
    background: #45315a;
    border-radius: 30px;

    .toolbar {
      padding: 0;
      display: inline-flex;
      justify-content: space-around;
    .title {

      font-size: 20px;
      text-align: center;


      text-shadow: 3px 3px 12px rgb(171, 179, 167);

    a {
      text-decoration: none;
      color: white;
      display: inline;
    }
  }
}

  .buttonLogin {
   margin: 3px 0;
    border-radius:  10px  35px 10px 35px ;

  }
}

// .root {
// }
