@import '../../../styles/settings.scss';

.main {
  margin: 0 auto;

  padding: 60px 10%;
  width: auto;
  min-height: 900px;
  height: 100vh;
  background: url('./background.jpg') no-repeat;
  background-size: 100% 100%;
}

// .root {
// }
